<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<head>
  <title>My Cuterest Boards</title>
</head>
<body>
 
<div class="container">
  <h2>My Cuterest Boards</h2>
  <div class="panel-group">  
    {% for item in mylist %}
      <div class="panel panel-default">
        <a href="/viewboard/{{ item.id }}">
        <div class="panel-heading">{{ item.name }}</div></a>
        <div class="panel-body">{{ item.description }}</div>
      </div>
  {% endfor %}
 </div>
</div>

</body>
{% endblock %}
