<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1>Enter New Board Information</h1>
<form action="/newboard" method=post class="form-horizontal" role="form">
  <div class="form-group">
    <label for="Board Name">Board Name</label>
    <input class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="Board Description">Board Description</label>
    <input class="form-control" name="description">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
